:root {
  --x: 0px;
  --y: 0px;
  --width: 0%;
  --height: 0%;
}

.modal {
  display: block;
  position: relative;
  z-index: 2000000000;
  left: var(--x);
  top: var(--y);
  width: var(--width);
  height: var(--height);
  overflow: hidden;
}
