/* The Modal (background) */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 70%;
  overflow: hidden;
}

.modal-content {
  background-color: #b42e2e;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  color: white;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
